// Define a map of colors
$colors: (
  primary: #2980B9,
  blue: #2980B9,
  green: #669933,
  white: #fff,
  black: #000,
  gray-bold: #7F7C82,
  gray-light: #E9E8E8,
);

// Define a map of font sizes
$font-sizes: (
  h1: 2.4rem,
  h2: 2.2rem,
  h3: 2rem,
  text: 1.6rem,
  large-text: 1.8rem,
  small-text: 1.4rem,
  sx-text: 1.2rem,
);
